{% extends 'layout.html' %}

{% block content %}
<form>
  <div class="form-group">
    <label for="query">Query</label>
    <textarea class="form-control"
              id="query-text"
              name="query"
              rows="10"
              placeholder="Enter Query"></textarea>
  </div>
  <div class="pull-right">
    <a class="btn btn-danger" href="/mutate">Mutate View</a>
    <button class="btn btn-primary"
            id="query-btn"
            type="submit">Query</button>
  </div>
</form>
{% endblock %}
